* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* variables */
:root{
    --main-color:#0c0c0c;
    --second-color:#060606;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    /* box shadow */
    --box-shadow: 2px 2px 10px 4px rgba(25, 52, 52, 0.15);
}
section{
    padding: 50px 100px;
}
img{
    width: 106%;
}
body{
    color:black;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 100px;
    transition: 0.5s linear;
    background: var(--text-color);
}
.logo{
    width: 50px;
    color: #efeaea;
   
    
}

.navbar{
    display: flex;
}
.navbar a{
padding: 8px 17px;
color: var(--bg-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;

}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color:white;
}
.header-icon .bx:hover {
    color:#457aa2;
}
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: url(./image/coffee-beans-top-view-white-background-space-text_176474-5028.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home-text p{
    font-size: 0.938rem;
   color: #060606;
    margin: 0.5rem 0 1.4rem;
}
.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background: #b28b6c;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
}
.about-img{
    border-radius: 0.5rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #efeaea;
    padding: 20px;

}
.about-text p{
    padding:30px;
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
    color: #efeaea;
}
.about-text{
    background: url(./image/wp6751238.webp);

   background-size: cover;
  
    
    
}

.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.gallery1 h1{
    margin-top: 110px;
    size: 90px;
    
    text-align: center;
}
.gall2 img {
    transition: 1s ease;
    }
    
    .gall2 img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }